html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #2c3e50;
}

#app {
  padding: 0 20px;
}

ul {
  line-height: 1.5em;
  padding-left: 1.5em;
}

a {
  color: #7f8c8d;
  text-decoration: none;
}

a:hover {
  color: #4fc08d;
}

.tasks {
  display: flex;
}

.task {
  flex: 1;
  background: #eee;
  padding: 8px;
}

.task.is-active {
  background: #ddd;
}

.task-plus {
  width: 20px;
  flex: none;
  text-align: center;
  cursor: pointer;
}

.view {
  display: none;
}

.view.is-active {
  display: block;
}